<table>
<% 
for(var cpt = 0; cpt < resultats.length; cpt++) 
{
 var nums = resultats[cpt].nums;
 %>
 <tr>
 	<td>
 		<div class='case'><%=nums[0]%></div> <div class='case'><%=nums[1]%></div> <div class='case'><%=nums[2]%></div> <div class='case'><%=nums[3]%></div> <div class='case'><%=nums[4]%></div>
 	</td>
 	<td><table>
        <tr><td>Dates</td><td></td></tr>
 		<% 
        var allDates = resultats[cpt].sorties;
        for (var dt = 0; dt < allDates.length; dt++)
            {

            %><tr><td><%=allDates[dt].stat_date%></td><td></td></tr><%

            }

            %>
        </table>
    </td>
    <td><!--
    <table>
        <tr><td>date</td><td>tirage</td></tr>
        
        </table>

   --> </td>
</tr>

<%
}

%>		
</table>	
<br>
<%=resultats.length%>


<%=JSON.stringify(resultats)%>