<script type="text/javascript">
<% tbGlobalSrv = []; %>
var globalPanel = new Array();
var globalSkills = new Array();
var tmpTb = new Array();
var zb = new Array();

$("#choix_predictif").hide();


Array.prototype.in_array = function(unite) {
	 var length = this.length;
    for(var i = 0; i < length; i++) {
    	//alert(this[i] + " : " + unite);
        if(this[i] == unite) return true;
    }
    return false;
    };
var memo=null;
$("#choix_distance").hide();
$("#lstT").on("mouseover", '.ligne', function() {

	var n1 = $(this).find('td').eq(2).html();
	var n2 = $(this).find('td').eq(3).html();
	var n3 = $(this).find('td').eq(4).html();
	var n4 = $(this).find('td').eq(5).html();
	var n5 = $(this).find('td').eq(6).html();
	var ch = "<div class='case'>" + n1 + "</div>" + 
				"<div class='case'>" + n2 + "</div>" + 
				"<div class='case'>" + n3 + "</div>" +
				"<div class='case'>" + n4 + "</div>" +
				"<div class='case'>" + n5 + "</div>";
	$("#dvRappel").html(ch);
	//mettre des foreach sur les css case de même numéro pour les faire apparaitre
	//attention, seulement sur le survol
	$(".case").each( function(){
		if(n1 == $(this).html())	$(this).remoceClass('case').addClass('case_sel');
		if(n2 == $(this).html())	$(this).remoceClass('case').addClass('case_sel');
		if(n3 == $(this).html())	$(this).remoceClass('case').addClass('case_sel');
		if(n4 == $(this).html())	$(this).remoceClass('case').addClass('case_sel');
		if(n5 == $(this).html())	$(this).remoceClass('case').addClass('case_sel');
		
	});
});
$(".clDistance").each (function(){
	$(this).click(function(){	
		var datas = $(this).attr("datas");
		var ladate = $(this).data('ladate');
		var tbN = datas.split('-');
		var objS={'nums':tbN};
		var self = $(this);
		$.get('tirages/find_distance',{'datas':objS, 'ladate': ladate},function(datas) {

			console.log('proutage' + datas);
			//alert(self.parent().parent().html());
			var ch = datas.eventail + " details écarts : " + datas.ecart_detail.join("-");
			self.parent().parent().find(".eventail").html(ch);

		});
	});
});
//GM
//$(".panel-body").each (function(){
//	alert($(this).find('.case'))

//});
function retrieveClassNumber() {
	var tb = new Array();
	$("td.fort_2").each( function() {
	//alert($(this));
		tb[$(this).innerHtml] = "fort_2";
	});

	$("td.faible_2").each( function() {
		tb[$(this).innerHtml] = "faible_2";
	});
	return tb;
}
function getClass(num, tb) {
	
	for (var c = 0; c < tb.length; c++) {
		if (tb[c].num == num) return tb[c].type;
	}
}

//panel modal des choix predictifs







$(".getPanel").click(function(){
	
	$( "#choix_distance" ).dialog({
		autoOpen: true,
		width: 400,
		height:200,
		position:['50','50'],
		title: "Récupérer un panel de numéros",
		modal: true,
		buttons: [
			{
				text: "Ok",
				click: function() {
					var self = $(this);
					var d1 = $("#lstT").find("tr").eq(0).find("td").eq(0).html() + " 21:00:00";
										
					var dist = $("#txtDistance").val();
					
					$.get('tirages/get_panel',{'d1': d1, 'distance': dist},function(datas) {
						
						// pour le tableau de traitement % 1 ligne sera 8 numéros traitable donc length panel/8 lignes

						var le_html = "";
						var cptCol=1;
						var html_table = "<table id='travail'><tr>";
						for (var i = 0; i < datas.panel.length; i++) {
							var un_chiffre = "<div class='case " + getClass(datas.panel[i], datas.skills) + "'>" + datas.panel[i] + "</div>";
							le_html += un_chiffre;
							//crea de table de travail/num
							if ((cptCol % 8) == 0) {
								html_table += "</tr><tr>";
								cptCol = 1;
							}
							html_table += "<td style='padding-left:10px'>" + un_chiffre + "</td><td><input id='mc" + datas.panel[i] + "' type='text' style = 'width:45px' value='100'></td><td style ='border-right: 1px solid black;padding-right:10px'>ctrl</td>";

							cptCol ++;
						} 
						var colSpan = (8-cptCol) + 1;
						if (colSpan > 1) {
							html_table += "<td colspan='" + colSpan + "'></td></tr></table>";
						} else {
							html_table += "</tr></table>";
						}

						le_html += "<br><br>" + html_table;
						
						le_html += "<br><div id='testC' class='noeil'></div><br><br>";
						
						l_interface = "<table><tr><td ><div class='case fort'></div>perte proba/tirage</td><td><input type='text' id='perte_fort' value='10'></td></tr>";
						l_interface += "<tr><td ><div class='case faible'></div>perte proba/tirage</td><td><input type='text' id='perte_faible' value='10'></td></tr>";
						l_interface += "<tr><td >Nbre Tirages</td><td><input type='text' id='nombre_tirage' value='50'></td></tr>";
						l_interface += "<tr><td >Decr./selection</td><td><input type='text' id='decrement' value='10'></td></tr>";
						
						l_interface += "<tr><td ><input type='button' value='GO' id='go_tirage'></td><td><input type='button' value='SAVE DB' id='save_db'></td></tr></table>";

						le_html += l_interface;

						$("#choix_predictif").html(le_html);
						
						$( "#go_tirage" ).on( "click", function() {
						  //go tirage
						  var nbTirages = $("#nombre_tirage").val();
						  var decrement = $("#decrement").val();
						  var tbD = new Array();
						  //init d'un tb de 50
						  for (var v = 0; v < 50; v++) tbD.push(null);
						  for(var t = 0;t<datas.panel.length;t++) {
						  	var decr = $("#mc" + datas.panel[t]).val();
						  	var curr = {"number": datas.panel[t], "decr": decr, "poids": getClass(datas.panel[t], datas.skills)};
						  	//tbD[datas.panel[t]].push(curr);
						  	//pb interpretation json plus en avant
						  	tbD[datas.panel[t]] = curr
;						  }
						  $.get('tirages/prediction',{'datas': tbD, 'nbTirages': nbTirages, 'decrement': decrement},function(results) {
								//alert(self.parent().parent().html());
								//self.parent().parent().find(".eventail").html(ch);
								alert(results);
						  });	

						  
						});

						$( "#save_db" ).on( "click", function() {
						  //sauvegarde des tirages en base
						});




						$("#save_db").prop('disabled', true);
						

						//$("#travail td").css({background-color:#FF0000});


						$( "#choix_predictif" ).dialog({
							autoOpen: true,
							width: 900,
							height:600,
							position:['20','20'],
							title: "Récupérer un panel de numéros",
							modal: true,
							buttons: [
								{
									text: "Ok",
									click: function() {
										
									}
								},
								{
									text: "Cancel",
									click: function() {
										$( this ).dialog( "close" );
									
									}
								}]
						});

						console.log("sk : ", le_html);
						globalPanel = datas.panel;
						globalSkills = datas.skills
						$( self ).dialog( "close" );
					});
					
				}
			},
			{
				text: "Cancel",
				click: function() {
					$( this ).dialog( "close" );
				
				}
			}]
	});
});
function inArray(id,tb) {
	for (var c = 0; c < tb.length; c++) {
		if(tb[c] == id) return true;
	}
	return false;
}
//occurences aprés choix hasard

$("#btnOccu").click(function(){
	var zb =new Array();
	$("#machine_hazard").find(".case").each(function(){
	  zb.push($(this).html());

	});
	//alert('ok : ' + tmpTb.join('-'));

	var toSend = {'nums': zb};

	/*
	$.get('tirages/find_occurences',{'datas':toSend},function(datas) {
		var tbl = "<table id='tblOcc'>";
		var ligne ="";
		var retourJSON = JSON.parse(datas);
		console.log(datas);
		retourJSON.forEach(function(o,idx){

		});
	});
	*/
	mainOccurence(toSend, zb);
});
function mainOccurence(toSend, tbN) {
	
	$.get('tirages/find_occurences',{'datas':toSend},function(datas) {
			var tbl = "<table id='tblOcc'>";
		var ligne ="";
		var retourJSON = JSON.parse(datas);
		retourJSON.forEach(function(o,idx){
			var tir = o.tirages[0];
			ligne += "<tr>";
			ligne +=   "<td class='occE1'>" + o.stat_date + "</td>";
			if(o.occurence > 2) clO = "dvct_blue"; else clO = "occE2";
			ligne +=   "<td class='" + clO + "'>" + o.occurence + "</td>";
			if(tbN.in_array(tir.TIR_1)) laclasse = "dvct_pink"; else laclasse = "";
			ligne +=   "<td class='" + laclasse + "'>" + tir.TIR_1 + "</td>";
			if(tbN.in_array(tir.TIR_2)) laclasse = "dvct_pink"; else laclasse = "";
			ligne +=   "<td class='" + laclasse + "'>" + tir.TIR_2 + "</td>";
			if(tbN.in_array(tir.TIR_3)) laclasse = "dvct_pink"; else laclasse = "";
			ligne +=   "<td class='" + laclasse + "'>" + tir.TIR_3 + "</td>";
			if(tbN.in_array(tir.TIR_4)) laclasse = "dvct_pink"; else laclasse = "";
			ligne +=   "<td class='" + laclasse + "'>" + tir.TIR_4 + "</td>";
			if(tbN.in_array(tir.TIR_5)) laclasse = "dvct_pink"; else laclasse = "";
			ligne +=   "<td class='" + laclasse + "'>" + tir.TIR_5 + "</td>";
			ligne +=   "<td>(" + tir.TIR_C + ")</td>";
			ligne += "</tr>";
		});
		tbl += ligne + "</table>";
		
		$("#retourOccu").html(tbl);
	});


}
$("#dvHasard").click(function() {
	//choix au hasard parmis globalPanel et en appelant la fct de getClasse
	//alert("lng gp : " + globalPanel.length);
	/*
	var le_html2 = "";
	tmpTb = new Array();
	for (var h = 0; h < 5 ; h++) {
		var numh = parseInt(Math.round(Math.random()*((globalPanel.length-1)-0))+0);
		if(!inArray(numh,tmpTb)) {
			//alert('ok');
			var hasardum = globalPanel[numh];
			le_html2 += "<div class='case " + getClass(hasardum, globalSkills) + "'>" + hasardum + "</div>";
			tmpTb.push(numh);

			
		} else {
			h = h-1;
		}
		

	}
	
	$("#dvOcc2").html("<div id='machine_hazard'>" + le_html2 + "</div>");
	*/
	alert('ok');
	//nouvelle version avec 2 à 2 du tableau
	$.get('mesreductions/denombrement_predictif',{'datas':globalPanel,'ecart_mois_param': 1},function(datas) {
        //on vire le render en amont et on retourne les données brut
        //Le traitement se fera depius les données retournées
		$("#dvOcc2").html(datas);
		                                
    });



});

$(".noeil").each(function(){
	

	$(this).click(function(){	
		if (memo !== null)
		memo.removeClass("tout_rouge");
		$(this).parent().parent().addClass("tout_rouge");
		memo = $(this).parent().parent();

		//alert($(this).attr("datas"));
		var datas = $(this).attr("datas");
		var tbN = datas.split('-');
		var objS={'nums':tbN};
		var laclasse = "";
		var clO="";
		mainOccurence(objS, tbN);

	});
	
});



</script>
Récupérer un panel sur X tirages <div class="getPanel"></div>
<table id="le_tableau">
<tr>
	<td colspan="2" id="infos_recherches"></td>
</tr>
	<tr>
		<td>
			<table id='lstT'>
			<% for(var t=0;t<datas.length;t++) 
			{

			var tir_1 = datas[t].NUMS[0].NUMERO;
			var class1 = datas[t].NUMS[0].CLASS;
			tbGlobalSrv[datas[t].NUMS[0]] = datas[t].NUMS[0].CLASS;
			title1 = datas[t].NUMS[0].TITLE;

			var tir_2 = datas[t].NUMS[1].NUMERO;
			var class2 = datas[t].NUMS[1].CLASS;
			tbGlobalSrv[datas[t].NUMS[1]] = datas[t].NUMS[1].CLASS;
			title2 = datas[t].NUMS[1].TITLE;

			var tir_3 = datas[t].NUMS[2].NUMERO;
			var class3 = datas[t].NUMS[2].CLASS;
			tbGlobalSrv[datas[t].NUMS[2]] = datas[t].NUMS[2].CLASS;
			title3 = datas[t].NUMS[2].TITLE

			var tir_4 = datas[t].NUMS[3].NUMERO;
			var class4 = datas[t].NUMS[3].CLASS;
			tbGlobalSrv[datas[t].NUMS[3]] = datas[t].NUMS[3].CLASS;
			title4 = datas[t].NUMS[3].TITLE;

			var tir_5 = datas[t].NUMS[4].NUMERO;
			var class5 = datas[t].NUMS[4].CLASS;
			tbGlobalSrv[datas[t].NUMS[4]] = datas[t].NUMS[4].CLASS;
			title5 = datas[t].NUMS[4].TITLE;

			var tir_c = datas[t].NUMS[5].NUMERO;
			var classc = datas[t].NUMS[5].CLASS;
			tbGlobalSrv[datas[t].NUMS[5]] = datas[t].NUMS[5].CLASS;


			%>
			<tr class='ligne'>
			<td><%=datas[t].TIR_DATE%></td><td></td>
			<td title ="<%=title1%>" class="<%=class1%>"><%=tir_1 %></td>
			<td title ="<%=title2%>" class="<%=class2%>"><%=tir_2 %></td>
			<td title ="<%=title3%>" class="<%=class3%>"><%=tir_3 %></td>
			<td title ="<%=title4%>" class="<%=class4%>"><%=tir_4 %></td>
			<td title ="<%=title5%>" class="<%=class5%>"><%=tir_5 %></td>
			<td title ="complémentaire" class="<%=classc%>"><%=tir_c %></td>
			<td title ="voir les occurences"> <div id="" datas="<%=tir_1%>-<%=tir_2%>-<%=tir_3%>-<%=tir_4%>-<%=tir_5%>" data-ladate = "<%=datas[t].TIR_DATE%>" class='noeil'></div></td>
			<td title ="voir les occurences"> <div id="" datas="<%=tir_1%>-<%=tir_2%>-<%=tir_3%>-<%=tir_4%>-<%=tir_5%>" data-ladate = "<%=datas[t].TIR_DATE%>" class='cldistance'></div></td><td class="eventail"></td><td class="panel"></td>
			</tr>
			<%}%>

			</table>
		</td>
		<td style="vertical-align:top">
			<table>
			<tr><td>
			<div id="dvOcc" style="overflow:auto;padding: 0.5em;height:150px;width:400px;float:left" ></div>
			</td></tr>
			<tr><td>
			<div id="dvHasard" class="la_machine"></div>
			</td></tr>
			<tr><td>
			<div id="dvOcc2"  style="overflow:auto;padding: 0.5em;height:200px;width:400px;float:left" ></div>
			</td></tr>
			<tr><td><div style='float:left' id='btnOccu' class="occurence_h"></div>

			<!--


<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Dropdown
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div>








			-->
			
			</td></tr>
			<tr>
			<td>
				<div id="retourOccu" style="overflow:auto;padding: 0.5em;height:300px;width:350px;float:left"></div>
			</td>
			</tr>
			</table>
		</td>
		<td style="vertical-align:top">
			<div id="dvRappel"></div>
			<div id="dvRed" style="overflow:auto;padding: 0.5em;height:500px;width:380px;float:left" >
			<h3>Liste des réductions effectuées</h3>
			<font style='size:10px'><i>En survolant les différents tirages à gauche, nous visualiserons les numéros présents dans les sélections ci-dessous</i></font><br><br>
			
<div class="panel panel-default">
 <% for(var t=0;t<mestirages.length;t++) 
			{
			%>
			  <!-- Default panel contents -->
			  <div id="<%=mestirages[t].MTIR_DATE%>" class="panel-heading">

			  <%=mestirages[t].MTIR_DATE%>
			  

			  </div>
			  <div id="content_<%=mestirages[t].MTIR_DATE%>" class="panel-body">
			    <div id="<%=mestirages[t].MTIR_1%>" class='case'><%=mestirages[t].MTIR_1%></div>
			    <div id="<%=mestirages[t].MTIR_2%>" class='case'><%=mestirages[t].MTIR_2%></div>
			    <div id="<%=mestirages[t].MTIR_3%>" class='case'><%=mestirages[t].MTIR_3%></div>
			    <div id="<%=mestirages[t].MTIR_4%>" class='case'><%=mestirages[t].MTIR_4%></div>
			    <div id="<%=mestirages[t].MTIR_5%>" class='case'><%=mestirages[t].MTIR_5%></div>
			    <div id="<%=mestirages[t].MTIR_C%>" class='casec'><%=mestirages[t].MTIR_C%></div>
			    
			  </div>

 <% } %>	
</div>
			


				





			</div>
		</td>
	</tr>
</table>
<div id="retour_panel">
</div>

<div id="choix_predictif">
</div>



<div id='choix_distance'>
Nb de tirages arrières <input type='text' id='txtDistance'>
</div>